@model MyBlog.Models.ArticleView

@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var publishedDate = ViewData["publishedDate"];
}

<h1>Detail</h1>

<div class="main-wrapper">
    <input type="hidden" id="articleId" value="@Model.Article.Id" />
    <article class="blog-post px-3 py-5 p-md-5">
        <div class="container">
            <header class="blog-post-header">
                <h2 class="title mb-2">@Model.Article.Header</h2>
                <div class="meta mb-3"><span class="date">Published @publishedDate</span><span class="time">5 min read</span><span class="comment"><a href="#">4 comments</a></span></div>
            </header>

            <div class="blog-post-body">
                <figure class="blog-banner">
                    <a href="https://made4dev.com"><img class="img-fluid" src="~/img/@Model.Article.Image" alt="image"></a>
                    <figcaption class="mt-2 text-center image-caption">Image Credit: <a href="https://made4dev.com?ref=devblog" target="_blank">made4dev.com (Premium Programming T-shirts)</a></figcaption>
                </figure>
                <p>@Model.Article.Body</p>
            </div>
        </div>
    </article>
  @*  <div class="justify-content-center mt-5 border-left border-right" style="background-color:#eef2f5; width:400px">
        <div class="d-flex justify-content-center pt-3 pb-2"> <input type="text" name="text" placeholder="+ Add a note" class="form-control addtxt"> </div>
        <div class="d-flex justify-content-center py-2">
            <div class="second py-2 px-2">
                <span class="text1">Type your note, and hit enter to add it</span>
                <div class="d-flex justify-content-between py-1 pt-2">
                    <div><img src="https://i.imgur.com/AgAC1Is.jpg" width="18"><span class="text2">Martha</span></div>
                    <div><span class="text3">Upvote?</span><span class="thumbup"><i class="fa fa-thumbs-o-up"></i></span><span class="text4">3</span></div>
                </div>
            </div>
        </div>
    </div>*@
       
        <div>
            <div class="bg-light">
                <h5 class="comment-header"><i class="fas fa-comment-dots"></i> Comments </h5>
                <textarea class="form-control" row="524" cols="76" id="Detail" name="Detail" placeholder="Please write your comment here."></textarea>

                <input type="text" class="form-control" id="Commenter" name="Commenter" placeholder="Please write your name." />


                <a id="sendButton" class="btn btn-primary text-white form-control">Send</a>
            </div>
            <div id="commentList" class="mt-5 mb-5 bg-light">
            </div>
        </div>
    </div>
    @section Scripts{
        <script src="~/js/ArticleList.js"></script>
    }
