<div class="row">
    <div class="col-6">
        <h2 class="text-info">Articles</h2>
    </div>
    <div class="col-6 text-right">
        
    </div>
</div>
<div class="col-3 offset-9">
    <a asp-action="Upsert" asp-controller="Articles" class="btn btn-info form-control text-white">
        Add New Article
    </a>
</div>
<div class="border bg-white">
    <br />
    <div>
        <table id="articleList" class="table table-striped border">
            <thead>
            <th>Header</th>
            <th>Body</th>
            <th>Created Date</th>
            <th>Published</th>
            <th></th>
            </thead>
        </table>
    </div>
</div>
@section Scripts{
    <script src="~/js/ArticleList.js"></script>
}