@model IEnumerable<MyBlog.Models.Article>
@{ 
    var totalPages = ViewBag.totalPages;
}

<div class="profile-side">
    <h1 class="blog-name pt-lg-4 mb-0">Crista's Blog</h1>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div id="navigation" class="collapse navbar-collapse flex-column">
            <img class="profile-image mb-3 rounded-circle mx-auto" src="~/img/profile.jpg" alt="image">
            <div class="bio mb-3">Hi, my name is Crista Gantulga. I am a software developer. Here i will share my knowledge. Hope you will enloy. Thanks<br><a asp-controller="Home" asp-action="AboutMe">Find out more about me</a></div>
            <ul class="social-list list-inline py-3 mx-auto">
                <li class="list-inline-item"><a href="https://www.linkedin.com/in/crista-gantulga-a4a8a0111/"><i class="fab fa-linkedin-in fa-fw"></i></a></li>
                <li class="list-inline-item"><a href="https://github.com/Crista-Bol"><i class="fab fa-github-alt fa-fw"></i></a></li>
                @*<li class="list-inline-item"><a href="#"><i class="fab fa-stack-overflow fa-fw"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fab fa-codepen fa-fw"></i></a></li>*@
            </ul>
            <ul class="navbar-nav flex-column text-left">
                <li class="nav-item active">
                    <a class="nav-link" href="index.html"><i class="fas fa-home fa-fw mr-2"></i>Blog Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="blog-post.html"><i class="fas fa-bookmark fa-fw mr-2"></i>Blog Post</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about.html"><i class="fas fa-user fa-fw mr-2"></i>About Me</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div class="main-wrapper">
    <section class="blog-list px-3 py-5 p-md-5">
        <div class="container">
            <div id="artDiv">
            </div>
            <div class="d-flex justify-content-end"><a id="moreArticles" class="btn btn-primary text-white">More Articles >></a></div>
        </div>

    </section>
</div>
@section Scripts{
    <script>
        var pageCount;
        $(document).ready(
            function () {
                pageCount = 1;

                if (pageCount >= @totalPages)
                    $("#moreArticles").addClass("disabled");

                $("#artDiv").empty();
                load(pageCount);
            });

        function load(pageCount) {
            $.ajax({
                type: "GET",
                url: "/Articles/moreArticles?pageCount=" + pageCount,
                dataType: "json",
                success: function (data) {

                    $.each(data.data, function () {
                        body = (this.body.length) > 150 ? this.body.substring(0, 150) : this.body;
                        pubDate = new Date(this.published_Date);

                        $("#artDiv").append(
                            drawArticle(this.image, this.id, this.header, pubDate.toLocaleDateString("en-US"), body));
                    });
                }
            });
        }

        $("#moreArticles").on("click", function () {
            pageCount++;
            if (pageCount >=@totalPages)
                $("#moreArticles").addClass("disabled");

            load(pageCount);
        });

        function drawArticle(img, id, header, publishedDate, body) {

            return `<div class="item mb-5">
                            <div class="media">
                                <img class="mr-3 img-fluid post-thumb d-md-flex" src="/img/${img}" alt="image" />
                                <div class="media-body">
                                    <h3 class="title mb-1"><a href="Articles/Detail?Id=${id}">${header}</a></h3>
                                    <div class="meta mb-1"><span class="date">Published ${publishedDate}</span><span class="time">5 min read</span><span class="comment"><a href="#">4 comments</a></span></div>
                                    <div class="intro">
                                        ${body}
                                    </div>
                                    <a class="more-link" href="Articles/Detail?Id=${id}">Read more &rarr;</a>

                                </div>
                            </div>
                        </div>`;
        }

    </script>
}




