@model MyBlog.Models.Article

<br />
<h2 class="text-info">@(Model.Id!=0? "Edit":"Create") Article</h2>
<br />
<div class="border container" style="padding:30px">
    <form method="post">
        <div class="form-group">
            @if (Model.Id != 0)
            {
                <input asp-for="Id" />
            }
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="Header"></label>
                </div>
                <div class="col-6">
                    <input asp-for="Header" class="form-control" />
                    <span asp-validation-for="Header" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="Body"></label>
                </div>
                <div class="col-6">
                    <input asp-for="Body" class="form-control" />
                    <span asp-validation-for="Body" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label asp-for="published"></label>
                </div>
                <div class="col-6">
                    <input type="checkbox" asp-for="published" class="form-control" />
                    <span asp-validation-for="published" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3 offset-3">
                    <button class="btn btn-primary form-group" type="submit">
                        @(Model.Id != 0 ? "Update":"Create")
                    </button>
                </div>
                <div class="col-3">
                    <a asp-action="Index" class="btn btn-success form-control">Return to Index</a>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}