/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    font-family: Poppins;
}
.footer {
  margin-bottom:auto;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
.comment-background {
    background-color: #f7f7f7;
}
.comment-header {
    font: 16px "PT-sans", sans-serif,bold;
    color: #287DF8;
    padding-top: 20px;
    padding-left: 10px;
}
.comment-list-header {
    color: #f7f7f7;
}
.comment-list-body {
    color:#333333;
    font: 13px Roboto,sans-serif;

}

.fa {
    padding: 10px;
    font-size: 20px;
    width: 110px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

    .fa:hover {
        opacity: 0.7;
    }

    .fa-facebook {
        background: #3B5998;
        color: white;
    }
    .fa-google {
        background: #dd4b39;
        color: white;
    }
.reg-form-group {
    position: relative;
    margin-bottom: 25px;
    overflow: hidden;
}

    .reg-form-group:last-child {
        margin-bottom: 0px;
    }

.borderless-input {
    width: 100%;
    display: block;
    border: none;
    border-bottom: 1px solid #999;
    padding: 6px 30px;
    font-family: Poppins;
    box-sizing: border-box;
}

    .borderless-input::-webkit-input-placeholder {
        color: #999;
    }

    .borderless-input::-moz-placeholder {
        color: #999;
    }

    .borderless-input:-ms-input-placeholder {
    color: #999;
    }
    
    .borderless-input:-moz-placeholder {
        color: #999;
    }

    .borderless-input:focus {
        color: #222;
        outline: none;
  
    }

        .borderless-input:focus::-webkit-input-placeholder {
            color: #222;
            outline: none;
        }

        .borderless-input:focus::-moz-placeholder {
            color: #222;
            outline: none;
        }

        .borderless-input:focus:-ms-input-placeholder {
            color: #222;
            outline: none;
        }

        .borderless-input:focus:-moz-placeholder {
            color: #222;
            outline: none;
        }

.reg-form-group label {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    color: #222;
}